.comment-form {
    margin: 0 550px;
    width: 800px;
    border: 1px solid black;
    padding: 0;
    border-radius: 50%;
}

.comment-form input {
    width: 770px;
    height: 35px;
    font-size: 20;
}

.comment-form label {
    font-size: 20px;
}

.form-container {
    padding: 10px;
    background-color: white;
}

.form-container .btn {
    background-color: #4caf50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

h6 {
    width: 300%;
    font-size: 20px;
}